<li class="news-row [$collapsed]">
   <div class="section">
        <div class='sectionBody'>
            <div class='sectionHeight'>
                <div class='recentNews'>
                    <div class='newsTitle'>
                        <h3>[$title]</h3>
                        <span>[$date]</span>
                    </div>
                
                    <img style="float: right; width:55px; height:60px;" src="/structure/design/images/icons/kbase/generic1.jpg" />
                    
                    <p style="left: 4px;">[$post]</p>
                
                    <a target="_blank" href="[$threadLink]" class="more"><p style="left: 4px;">Read Thread...</p></a>
                </div>
            </div>
        <div>
    </div>
</li>